# Video Game Data Science
<br>
1. Which company is the most common video game publisher?
<br>
    Electronic Arts 
<br>
2. What’s the most common platform?
<br>
    The DS
<br>
3. What about the most common genre?
<br>
    Action
<br>
4. What are the top 20 highest grossing games?
<br>
		82.74	Wii Sports
	<br>
		40.24	Super Mario Bros.
	<br>
		35.82	Mario Kart Wii
	<br>
		33.00	Wii Sports Resort
	<br>
		31.37	Pokemon Red/Pokemon Blue
	<br>
		30.26	Tetris
	<br>
		30.01	New Super Mario Bros.
	<br>
		29.02	Wii Play
	<br>
		28.62	New Super Mario Bros. Wii
	<br>
		28.31	Duck Hunt
	<br>
		24.76	Nintendogs
	<br>
		23.42	Mario Kart DS
	<br>
		23.10	Pokemon Gold/Pokemon Silver
	<br>
		22.72	Wii Fit
	<br>
		22.00	Wii Fit Plus
	<br>
		21.82	Kinect Adventures!
	<br>
		21.40	Grand Theft Auto V
	<br>
		20.81	Grand Theft Auto: San Andreas
	<br>
		20.61	Super Mario World
	<br>
		20.22	Brain Age: Train Your Brain in Minutes a Day
<br>
5. For North American video game sales, what’s the median?
<br>
	NA_Sales    0.08
<br>
6. Provide a secondary output showing ten games surrounding the median sales output assume that games with same median value are sorted in descending order.
<br>
	
7. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
<br>
8. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
<br>
9. Come up with 3 more questions that can be answered with this data set.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#1. Which company is the most common video game publisher?
df = pd.read_csv('./vgsales.csv')
df[['Publisher']].mode()

         Publisher
0  Electronic Arts

In [10]:
# 2. What’s the most common platform?
df[['Platform']].mode()

  Platform
0       DS

In [12]:
# 3. What about the most common genre?
df[['Genre']].mode()

    Genre
0  Action

In [14]:
# 4. What are the top 20 highest grossing games?
df[['Global_Sales', 'Name']].head(20)

    Global_Sales                                          Name
0          82.74                                    Wii Sports
1          40.24                             Super Mario Bros.
2          35.82                                Mario Kart Wii
3          33.00                             Wii Sports Resort
4          31.37                      Pokemon Red/Pokemon Blue
5          30.26                                        Tetris
6          30.01                         New Super Mario Bros.
7          29.02                                      Wii Play
8          28.62                     New Super Mario Bros. Wii
9          28.31                                     Duck Hunt
10         24.76                                    Nintendogs
11         23.42                                 Mario Kart DS
12         23.10                   Pokemon Gold/Pokemon Silver
13         22.72                                       Wii Fit
14         22.00                                  Wii Fit Plus
15         21.82                            Kinect Adventures!
16         21.40                            Grand Theft Auto V
17         20.81                 Grand Theft Auto: San Andreas
18         20.61                             Super Mario World
19         20.22  Brain Age: Train Your Brain in Minutes a Day

In [16]:
# 5. For North American video game sales, what’s the median?
df[['NA_Sales']].median()

NA_Sales    0.08
dtype: float64

In [21]:
# 6. Provide a secondary output showing ten games surrounding the median sales output assume that games with same median value are sorted in descending order.
df['Name'] = df['Name'].apply('Publisher')

AttributeError: 'Publisher' is not a valid function for 'Series' object

In [3]:
df = pd.read_csv('./vgsales.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [4]:
df.head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

In [5]:
df.tail(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16578,16581,Outdoors Unleashed: Africa 3D,3DS,2011.0,Sports,Mastiff,0.01,0.00,0.00,0.0,0.01
16579,16582,PGA European Tour,N64,2000.0,Sports,Infogrames,0.01,0.00,0.00,0.0,0.01
16580,16583,Real Rode,PS2,2008.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.0,0.01
16581,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.0,0.01
16582,16585,Planet Monsters,GBA,2001.0,Action,Titus,0.01,0.00,0.00,0.0,0.01
16583,16586,Carmageddon 64,N64,1999.0,Action,Virgin Interactive,0.01,0.00,0.00,0.0,0.01
16584,16587,Bust-A-Move 3000,GC,2003.0,Puzzle,Ubisoft,0.01,0.00,0.00,0.0,0.01
16585,16588,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.0,0.01
16586,16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.00,0.01,0.00,0.0,0.01
16587,16590,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.0,0.01
16588,16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16590,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

In [6]:
df[['Name', 'Year']]

                                                   Name    Year
0                                            Wii Sports  2006.0
1                                     Super Mario Bros.  1985.0
2                                        Mario Kart Wii  2008.0
3                                     Wii Sports Resort  2009.0
4                              Pokemon Red/Pokemon Blue  1996.0
...                                                 ...     ...
16593                Woody Woodpecker in Crazy Castle 5  2002.0
16594                     Men in Black II: Alien Escape  2003.0
16595  SCORE International Baja 1000: The Official Game  2008.0
16596                                        Know How 2  2010.0
16597                                  Spirits & Spells  2003.0

[16598 rows x 2 columns]

In [7]:
df.set_index('Name',)

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [8]:
df[['Name', 'Publisher', 'Global_Sales']].head(20)

,Name,Publisher,Global_Sales
0,Wii Sports,Nintendo,82.74
1,Super Mario Bros.,Nintendo,40.24
2,Mario Kart Wii,Nintendo,35.82
3,Wii Sports Resort,Nintendo,33.00
4,Pokemon Red/Pokemon Blue,Nintendo,31.37
5,Tetris,Nintendo,30.26
6,New Super Mario Bros.,Nintendo,30.01
7,Wii Play,Nintendo,29.02
8,New Super Mario Bros. Wii,Nintendo,28.62
9,Duck Hunt,Nintendo,28.31
10,Nintendogs,Nintendo,24.76
11,Mario Kart DS,Nintendo,23.42
12,Pokemon Gold/Pokemon Silver,Nintendo,23.10
13,Wii Fit,Nintendo,22.72
14,Wii Fit Plus,Nintendo,22.00
15,Kinect Adventures!,Microsoft Game Studios,21.82
16,Grand Theft Auto V,Take-Two Interactive,21.40
17,Grand Theft Auto: San Andreas,Take-Two Interactive,20.81
18,Super Mario World,Nintendo,20.61
19,Brain Age: Train Your Brain in Minutes a Day,Nintendo,20.22

In [9]:
# ???
df[['Name', 'Publisher', 'Global_Sales']].sort_values('Genre', ascending=False)

KeyError: 'Genre'

In [15]:
#gathering the mean of all data, you can chain .methods
df['Global_Sales'].head(20).mean()

29.5125

In [19]:
df[df['Global_Sales'] < 15]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
29,30,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
30,31,Pokémon Yellow: Special Pikachu Edition,GB,1998.0,Role-Playing,Nintendo,5.89,5.04,3.12,0.59,14.64
31,32,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
32,33,Pokemon X/Pokemon Y,3DS,2013.0,Role-Playing,Nintendo,5.17,4.05,4.34,0.79,14.35
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [19]:
df[df['Global_Sales'] < 15][['Name', 'Global_Sales']]

                                                   Name  Global_Sales
28                               Gran Turismo 3: A-Spec         14.98
29                       Call of Duty: Modern Warfare 3         14.76
30              Pokémon Yellow: Special Pikachu Edition         14.64
31                              Call of Duty: Black Ops         14.64
32                                  Pokemon X/Pokemon Y         14.35
...                                                 ...           ...
16593                Woody Woodpecker in Crazy Castle 5          0.01
16594                     Men in Black II: Alien Escape          0.01
16595  SCORE International Baja 1000: The Official Game          0.01
16596                                        Know How 2          0.01
16597                                  Spirits & Spells          0.01

[16570 rows x 2 columns]

In [10]:
#???
mean = df['Global_Sales'].head(20).mean()
df[df['Global_Sales'] == mean]

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

In [9]:
#???
df[['Name', 'Game_Sales']].groupby('Year')

KeyError: "['Game_Sales'] not in index"

In [29]:
def manufacturer_name(Name):
    map ={}

In [10]:
df['This'] = df['Name'].apply(manufacturer_name)

NameError: name 'df' is not defined

In [18]:
df[['This', 'NA_Sales', 'Other_Sales']].groupby('This').median()

KeyError: "['This'] not in index"